* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDF8fGJhY2tncm91bmR8ZW58MHx8fHwxNjc0ODQ5MjA3&ixlib=rb-4.0.3&q=80&w=1080') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

header {
    text-align: center;
    padding: 50px;
    background-color: rgba(51, 51, 51, 0.7);
}

section {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #007BFF;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.7);
}

#backToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
